{% extends 'base.html.twig' %}
{% set token = csrf_token('delete') %}
{% block body %}
    <div class="p-4 w-100">
        <div class="col-12 p-0">
            <ul class="nav nav-pills mb-1 ml-0 mr-0">
                <li class="nav-item p-1">
                    <a class="btn btn-sm bg-primary text-white" href="{{ path('game_list.add') }}">{{ 'Add game'|trans }}</a>
                </li>
            </ul>
        </div>
        <table class="table w-100 table-bordered">
            <thead>
            <tr>
                <th class=" p-2 m-0">#</th>
                <th class=" p-2 m-0">{{ 'Title'|trans }}</th>
                <th class=" p-2 m-0">{{ 'Os'|trans }}</th>
                <th class=" p-2 m-0">{{ 'Format'|trans }}</th>
                <th class=" p-2 m-0">{{ 'Purchase date'|trans }}</th>
                <th class=" p-2 m-0">{{ 'Cost'|trans }}</th>
                <th class=" p-2 m-0">{{ 'Notes'|trans }}</th>
                <th class="p-2 m-0 text-nowrap">{{ 'Owned'|trans }}</th>
                <th class=" p-2 m-0">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr {% if game.deleted %}class="bg-info"{% endif %}>
                    <td class=" p-2 m-0">{{ game.id }}</td>
                    <td class=" p-2 m-0"><a class="text-dark" href="{{ path('blog.show', {'post': game.id}) }}">{{ game.title }}</a></td>
                    <td class=" p-2 m-0">{{ game_platform(game.os) }}</td>
                    <td class=" p-2 m-0">{{ game.format|trans }}</td>
                    <td class=" p-2 m-0">{{ game.purchaseDate|date("d-m-Y") }}</td>
                    <td class=" p-2 m-0">{% if game.os == 'Xbox One' %}{{  (game.cost * game.exchangeRate)|round(2) }}{% else %}{{ game.cost }}{% endif %}</td>
                    <td class=" p-2 m-0">{{ game.notes }}</td>
                    <td class="p-2 m-0">
                        {% if game.owned is not null %}
                            <span class="badge {% if game.owned %}badge-success{% else %}badge-warning{% endif %} p-2">
                            {% if game.owned %}Да{% else %}Нет{% endif %}
                        </span>
                        {% endif %}
                    </td>
                    <td class=" p-2 m-0">
                        <ul class="nav nav-pills pb-1">
                            <li class="nav-item p-1">
                                <a class="btn btn-sm bg-primary text-white" href="{{ path('game_list.edit', {'game': game.id}) }}">{{ 'Edit'|trans }}</a>
                            </li>
                            <li class="nav-item p-1">
                                <form action="{{ path('game_list.delete', {'gameItem': game.id }) }}" class="delete-game-item-form" method="post">
                                    <input type="hidden" name="token" value="{{ token }}" />
                                    <button type="submit" class="btn btn-sm btn-danger" data-toggle="confirmation">
                                        <i class="fa fa-trash" aria-hidden="true"></i> {{ 'Remove'|trans }}
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="col-12 pt-2">{{ knp_pagination_render(games, null, {}, {'align': 'center', 'size': 'small'}) }}</div>
    </div>
{% endblock %}
