{% extends 'base.html.twig' %}
{% block body %}
    <div class="pl-4 pr-4">
        {% for post in posts %}
            {% if post.hru is not null %}
                {% set post_path = path('blog.show.from.hru', {'prefix': post.hru.prefix, 'value': post.hru.value}) %}
            {% else %}
                {% set post_path = path('blog.show', {'post': post.id} ) %}
            {% endif %}
            <div class="border-bottom clearfix">
                <div class="col-12"><h2 class="mb-0 mt-4"><a href="{{ post_path }}">{{ post.title }}</a></h2></div>
                <div class="col-12"><i><a class="text-dark" href="{{ path('blog.show', {'post': post.id}) }}">{{ post.created|date("d-m-Y H:i") }}</a></i></div>
                <div class="col-12">{{ post.teaser|raw }}</div>
                <div class="col-12 text-right"><a href="{{ post_path }}">{{ 'read more'|trans }}</a></div>
            </div>
        {% endfor %}
        <div class="col-12 pt-2">{{ knp_pagination_render(posts, null, {}, {'align': 'center', 'size': 'small'}) }}</div>
    </div>
{% endblock %}