{% extends 'base.html.twig' %}
{% block body %}
    <div class="p-4">
        {{ form_start(form, {'method': 'POST'}) }}
        {{ form_label(form.title, null, {'label_attr': {'class': ''}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'mb-2'}}) }}
        {{ form_label(form.teaser) }}
        {{ form_widget(form.teaser, {'attr': {'class': 'mb-2'}}) }}
        {{ form_label(form.body) }}
        {{ form_widget(form.body, {'attr': {'class': 'mb-2'}}) }}
        {{ form_label(form.section) }}
        {{ form_widget(form.section, {'attr': {'class': 'mb-2'}}) }}
        {{ form_label(form.tags2) }}
        <div class="col-sm-12 p-0 form-inline">
            <input type="text" id="{{ form.tags2.vars.id }}" name="{{ form.tags2.vars.full_name }}" class="w-100" value="{{ form.tags2.vars.value }}" data-tags-url="{{ absolute_url(path('tag.json')) }}">
            {% do form.tags2.setRendered %}
            {{ form_widget(form.tags2,{'attr':{'class':'w-100'}}) }}
        </div>
        {{ form_label(form.status) }}
        {{ form_widget(form.status, {'attr': {'class': 'mb-2'}}) }}
        <button type="submit" class="btn btn-primary">{{ 'save'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
