{% extends 'base.html.twig' %}
{% set token = csrf_token("delete") %}
{% block title %}
    {{ post.title }} |
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="pt-4 pb-4 pl-2 pr-2{% if not post.published %} background-grey{% endif %}">
        {% if is_granted("ROLE_ADMIN") %}
            <div class="col-12 pb-3">
                <ul class="nav nav-pills border-bottom pb-1">
                    <li class="nav-item p-1">
                        <a class="nav-link btn-sm bg-primary text-white" href="{{ path('blog.edit', {'post': post.id}) }}">{{ 'Edit'|trans }}</a>
                    </li>
                    <li class="nav-item p-1">
                        <form action="{{ path('blog.delete', {'post': post.id }) }}" class="delete-post-form" method="post">
                            <input type="hidden" name="token" value="{{ token }}" />
                            <button type="submit" class="btn btn-danger" data-toggle="confirmation">
                                <i class="fa fa-trash" aria-hidden="true"></i>{{ 'Remove'|trans }}
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        {% endif %}
        {% if not post.published %}<div class=" p-3 m-3 alert-info">{{ 'Post is not published'|trans }}</div>{% endif %}
        <div class="col-12"><h2 class="mb-0">{{ post.title }}</h2></div>
        <div class="col-12 pb-2"><i>{{ post.created|date("d-m-Y H:i") }}</i></div>
        <div class="col-12 wordwrap">{{ post.teaser|raw }}</div>
        <div class="col-12 wordwrap">{{ post.body|raw }}</div>
        {% if post.tags is not empty %}
            <div class="col-12">
                <ul class="nav justify-content-start">
                    <li class="nav-item"><a href="#" class="nav-link disabled  pr-1 pl-0">{{ 'Tags'|trans }}: </a></li>
            {% for tag in post.tags %}
                <li class="nav-item"><a class="nav-link pr-2 pl-2" href="{{ path('blog.tag', {'tag': tag }) }}">{{ tag }}</a></li>
            {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}