{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form, {'method': 'POST'}) }}
    {{ form_label(form.machine_name, null, {'label_attr': {'class': ''}}) }}
    {{ form_widget(form.machine_name, {'attr': {'class': 'mb-2'}}) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'mb-2'}}) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}