<!DOCTYPE html>
<html class="d-flex">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Блог одного программиста{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body class="d-flex flex-column flex-grow-1 flex-shrink-1 mr-auto w-100">
<header class="main-header row justify-content-center no-gutters">
    <div class="col-12 col-xl-8 shadow b-green border-bottom">
        <div class="row justify-content-between p-3 m-0">
            <div class="col-6">
                <h1><a href="/" class="text-dark">Блог одного программиста</a></h1>
            </div>
            <div class="col-6 text-right">
                <b>Заметки о программировании на PHP,<br> о системном администрировании</b><br>
                и о многом другом
            </div>
        </div>
    </div>
</header>
<nav class="row justify-content-center no-gutters">
    <div class="col-12 col-xl-8 shadow b-white border-bottom shadow">
        {{  knp_menu_render('section', {'depth': 2, 'currentAsLink': true, 'currentClass': 'active'}) }}
    </div>
</nav>
<section class="main row justify-content-center no-gutters flex-grow-1">
    <div class="col-12 col-xl-8 p-0 m-0 shadow b-white">
        <div class="row no-gutters  flex-row-reverse flex-lg-row-reverse h-100 align-content-lg-stretch align-content-md-start">
            <div class="sidebar b-white border-left m-0 col-12 col-md-12 col-lg-3 col-xl-4 p-4 border-bottom">
                {% if(is_granted("ROLE_ADMIN")) %}
                    <div>
                        <strong>{{ 'Admin menu'|trans }}</strong>
                        {{ knp_menu_render('admin') }}
                    </div>
                {% endif %}
            </div>
            <div class="content b-white p-0 m-0 col-12 col-md-12 col-lg-9 col-xl-8 flex-grow-1 flex-shrink-1">

                {% for message in app.session.flashBag.get('notice') %}
            <div class="pt-4 pl-4 pr-4">
                    <div class="alert alert-success p-2" role="alert">
                        {{ message|trans }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            </div>
                {% endfor %}
                {% for message in app.session.flashBag.get('error') %}
                <div class="pt-4 pl-4 pr-4">
                    <div class="alert alert-danger p-2" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</section>
<footer class="row justify-content-center m-0">
    <div class="col-12 col-xl-8 b-white border-top shadow">
        <div class="row justify-content-center">
            <div class="col-12 text-center p-2">
                Все материалы разрешено использовать на свое усмотрение. <br>Привествуется указание ссылки на первоисточник.<br> 2019 <a href="mailto:s@istranet.ru">ShAM</a>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
<script type="text/javascript"></script>
</body>
</html>