<!DOCTYPE html>
<html class="d-flex">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    <style>
        html {
            min-height: 100%;
        }
        body {
            background-image: linear-gradient(to top, #F0F0F0, #F9F9F9);
            background-repeat: no-repeat;
        }

    </style>
</head>
<body class="d-flex flex-column flex-grow-1 mr-auto">
<header class="main-header row justify-content-center no-gutters">
    <div class="col-12 col-xl-8 shadow b-green border-bottom">
        <div class="row justify-content-between p-3 m-0">
            <div class="col-6">
                <h1><a href="/" class="text-dark">Блог одного программиста</a></h1>
            </div>
            <div class="col-6 text-right">
                <b>Заметки о программировании на PHP,<br> о системном администрировании</b><br>
                и о многом другом
            </div>
        </div>
    </div>
</header>
<nav class="row justify-content-center no-gutters">
    <div class="col-12 col-xl-8 shadow b-white border-bottom shadow">
        {{  knp_menu_render('section', {'depth': 2, 'currentAsLink': true, 'currentClass': 'active'}) }}
    </div>
</nav>
<section class="main row justify-content-center no-gutters flex-grow-1">
    <div class="d-flex col-12 col-xl-8 p-0 m-0 shadow flex-shrink-1">
            <div class="content b-white p-0 m-0 col-9">
                {% for message in app.session.flashBag.get('notice') %}
                    <div class="col-12 alert alert-success p-0 m-0" role="alert">
                        {{ message|trans }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.session.flashBag.get('error') %}
                    <div class=" col-12 alert alert-danger p-3 mt-2" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
            <div class="sidebar b-white border-left m-0 col-3 p-4">
                {% if(is_granted("ROLE_ADMIN")) %}
                <div>
                    <strong>{{ 'Admin menu'|trans }}</strong>
                    {{ knp_menu_render('admin') }}
                </div>
                {% endif %}
            </div>
    </div>
</section>
<footer class="row justify-content-center m-0">
    <div class="col-12 col-xl-8 b-white border-top shadow">
        <div class="row justify-content-center">
            <div class="col-12 text-center p-2">
                Все материалы разрешено использовать на свое усмотрение. <br>Привествуется указание ссылки на первоисточник.<br> 2019 <a href="mailto:s@istranet.ru">ShAM</a>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
<script type="text/javascript"></script>
</body>
</html>
